/ .navbar-fixed-left.sidebar
	
/ 	.toggle-button
/ 		.menu-bar.menu-bar-top
/ 		.menu-bar.menu-bar-middle
/ 		.menu-bar.menu-bar-bottom

	
	
%header
	%span.toggle-button
		.menu-bar.menu-bar-top
		.menu-bar.menu-bar-middle
		.menu-bar.menu-bar-bottom
	.menu-wrap
		.menu-sidebar
			%ul.menu
			-courses
			- if @courses.empty?
				%h3 You are currently not enrolled in any courses
			- else
				-@courses.each do |course|
					-find_learn(course.learn_id)
					-@learn.each do |learn| 
						%h4=link_to learn.title, "/learn/#{learn.id}", class: "course-title"
						-find_lecture(learn.id)
							-@lecture.each do |lecture|
							%li=link_to lecture.title, "/learn/#{learn.id}/lecture/#{lecture.id}"


