.navbar-left
	%ul.list-group
		%li.list-group-item=  link_to "Account", dashboard_index_path
		%li.list-group-item=  link_to "Progress", dashboard_progress_path
		%li.list-group-item= link_to "Settings", edit_user_password_path(@user)