<h1>Quiz#index</h1>
<p>Find me in app/views/quiz/index.html.erb</p>
<% @courses.each do |course| %>
	<li><%= course.title %></li>
		<li><%= link_to "Create Quiz For this course", "/learn/#{course.id}/quiz/new" %></li>
<% end %>
