#video.container
	%h1 Welcome to RAM University! If you are taking of these course you are either interested in becoming a RAM Certified Dealer, a Certified RAM Mounts Product Expert, or you would simply like to expand your knowledge of RAM Mounts, learning all of the fundamental product information that relates to RAM products, and a brief introduction to the different industries, devices and vehicles that we make mounts for. After taking this course you will have a thorough understanding of how RAM Mounts work, how to build any custom solution, and industries where RAM Mounts is a valuable accessory.
	.row
		-if current_user.try(:admin?)
			.btn.btn-default
				=link_to "Create New Learning Section", new_learn_path
			.btn.btn-default
				=link_to "Lecture List",  lecture_index_path

	- @module.each do |m|
		=link_to learn_path(m) do
			.col-md-6.col-sm-3.flip-container
				.flipper
					.front.tile
						.front-title= m.title

						=image_tag 'book2.jpeg', class: "img-responsive img-centered"
					.back.tile
						.back-title
							-m.lectures.each do |l|
								- if l.learn_id == m.id
									%li
										%p= l.title			




