.learning{
	overflow-y: auto;
	max-height: 350px;
}
.sidebar {
     position: fixed;
     width: 250px;
     height: 100%;
     background: #3d4a5c;
 }
 .content {
     margin-left: 200px;
     height: 500px;
     width: auto;
     position: relative;
     background: #f00;
     overflow: auto;
     z-index: 1;
 }
 .info {
     width: 1440px;
     height: 300px;
     position: relative;
     background: #f55;
 }
 .no-padding{
 	padding-left: 0px;
 }
 .course-title{
     color: white;
 }
 .progress{
     margin: 18px 0px;
 }
 .panel{
     box-shadow:  0 1px 4px 0 rgba(0, 0, 0, .75);
 }
 .panel-body{
     padding: 20px;
     max-height: 500px;
     overflow: scroll;
 }
 .img-circle {
    border-radius: 50%;
}
.icon-block.half {
    width: 50px;
    height: 50px;
    line-height: 50px;
    font-size: 25px;
}
.bg-purple-300 {
    background-color: #ba68c8;
}
.bg-grey-300 {
    background-color: #bfbfbf;
}
.icon-block {
    width: 100px;
    height: 100px;
    line-height: 100px;
    text-align: center;
    display: inline-block;
    font-size: 35px;
}
.darkGrey{
     color: #4c4c4c;
}
