// Place all the styles related to the quiz controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.quiz_select{
	height: 40px;
}
.quizCard{
	background-color: white;
	padding: 20px;
	border: 1px solid rgba(0,0,0,.05);
	border-radius: 5px;
	box-shadow: 0px 1px 1px rgba(0,0,0,.75);
}
.question-box{
	padding: 10px;
	margin: 10px;
	background: rgba(255,255,255,.75);
	box-shadow: 0px 1px 1px rgba(0,0,0,.5);
	border-radius: 5px;
}